*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-title: Georgia, 'Times New Roman', Times, serif;
  --font-size: 1.2rem;
  --color: #19f;
  --color-light: #adf;
  --color-dark: #018;
  --radius: 0.2rem;
}

body {
  margin: 1.5rem;
}

body,
input,
textarea,
button {
  font-size: var(--font-size);
  font-family: var(--font);
}

h1,
h2,
h3 {
  font-family: var('Segoe UI');
}

h1,
h2,
h3,
p,
ul {
  margin: 1rem 0;
}

ul {
  list-style: square;
}

li {
  margin-bottom: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

hr {
  border: 2px solid black;
  margin: 2rem auto;
}

.exemplo {
  width: 100%;
  height: 80vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;  
  align-items: center;
}

.name,
.password {
  width: 30%;
}

.password {
  margin-top: 1.5rem;
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin-top: 1rem;
  width: 30%;
}

.forgotCreate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 30%;
  margin-top: 1.3rem;
}

.forgotCreate a {
  font-size: 14px; 
  color: #19f;

  cursor: pointer;
}